* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/e31436d2e4715e019c653fad/pexelsphoto3761118.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 600px;
    /* border: 2px solid #08fa00; */
}

.container {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: table;
    /* border: 1px solid yellow; */
}

.title {
    width: 370px;
    height: 78px;
    color: white;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 36px;
    margin-top: 360px;
    margin-bottom: 10px;
}

.box {
    width: 260px;
    height: 45px;
}

.button {
    background-color: #d9b10d;
    border-style: none;
    font-weight: 700;
    color: white;
    text-align: center;
    height: 45px;
    width: 110px;
    margin-left: 10px;
}

.section1 {
    color: #111111;
    background-color: #f1c50e;
}

.section2 {
    display: flex;
    justify-content: center;
    /*     border: 1px solid red; */
    height: 600px;
}

.text {
    /* height: 500px; */
    width: 50%;
    /*     border: 1px solid; */
    text-align: left;
    height: 566px;
}

.text h2 {
    line-height: 1.2;
    font-weight: 900;
    font-size: 36px;
    margin: 160px 0 30px;
    font-family: Roboto, 'Open Sans', sans-serif;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    font-weight: 700;
}

.picture img {
    width: 509px;
    /*     border: 1px solid; */
}

.section3 {
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    height: 400px;
}

.card {
    width: 325px;
    height: 400px;
    padding: 30px;
    font-family: Roboto, sans-serif;
}

.card:nth-child(1) {
    background: #ee1b24;
    color: #ffffff;
}

.card:nth-child(2) {
    background: #f1c50e;
    color: #111111;
}

.card:nth-child(3) {
    background: #ffffff;
    color: #292d33;
}

.card:nth-child(4) {
    background: #555c66;
    color: #ffffff;
}

.card h2 {
    font-size: 60px;
}

.card h4 {
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
}

.card p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
}

.card .fa-chevron-circle-right {
    font-size: 65px;
    margin-top: 30px;
    margin-bottom: 00px;
    height: 64px;
    width: 64px;
}

.gallery {
    background: #f1c50e;
}

.background {
    height: 745px;
    background: #292d33;
    width: calc(((100% - 1140px) / 2) + 896px);
    margin: 0 0 0 auto;
}

.pictures {
    position: relative;
    width: 1140px;
    margin: -650px auto 0;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 30px;
    grid-template-areas:
    "uno dos ."
    "tres cuatro cinco"
    "seis siete ocho";
}

.image {
    /* border: 1px solid red; */
    background-position: 50% 50%;
    min-height: 404px;
    background-size: cover;
    background-clip: padding-box;
}

.image:nth-child(1) {
    background-image: url(/img/1.jpg);
    grid-area: uno;
}
.image:nth-child(2) {
    background-image: url(/img/2.jpg);
    grid-column: 2 / 3;
}
.image:nth-child(3) {
    background-image: url(/img/3.jpg);
    grid-area: tres;
}
.image:nth-child(4) {
    background-image: url(/img/4.jpg);
    grid-area: cuatro;
}
.image:nth-child(5) {
    background-image: url(/img/5.jpg);
    grid-area: cinco;
}
.image-2 {
    background-image: url(/img/6.jpg);
    grid-area: siete;
}

.ultimo{
    /* border: 1px solid red; */
    grid-area: ocho;
    background-image: url(./img/1q.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.text-gallery{
    grid-area: seis;
    color: #111111;
    padding: 30px 20px;
}

.text-gallery h3{
    font-family: Roboto,sans-serif;
    font-size: 36px;
}

.text-gallery p{
    font-weight: 700;
    line-height: 2;
    margin: 30px 0 0;
    font-family: 'Open Sans', sans-serif;
}

.about{
    color: #ffffff;
    background-color: #292d33;
    padding: 20px;
}

.background1{
    background: #ee1b24;
    padding: 30px;
    width: 632px;
    min-height: 305px;
    height: auto;
    position: relative;
    z-index: 0;
    margin: 167px auto 0;
}

.man{
    width: 449px;
    height: 543px;
    object-fit: cover;
    position:relative;
    z-index: 1;
    margin: -424px 34% 30px;
}

.about h3, .about p{
    text-align: center;
}

.about h3{
    font-family: Roboto,sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.about p{
    font-family: 'Open Sans', sans-serif;
    width: 427px;
    font-weight: 700;
    line-height: 2;
    margin: 0 auto 60px;
}

.footer{
    background: #ee1b24;
}

.footer h3, .social-media{
    text-align: center;
    color: #ffffff;
    font-family: Roboto,sans-serif;
    height: 100px;
}

.footer h3{
    font-size: 60px;
}

.social-media{
    font-size: 37px;
}

